*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box;
  font-family: sans-serif; }

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Roboto Condensed", sans-serif;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 5px 0 rgba(216, 216, 218, 0.7); }
  .navbar__left {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 7rem;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1040px) {
      .navbar__left {
        margin-left: 3rem; } }
    @media (max-width: 768px) {
      .navbar__left {
        margin-left: 2rem; } }
    .navbar__left__menu__logo {
      width: 25px;
      margin-right: .5rem;
      /* Custom, iPhone Retina */
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 1040px) {
        .navbar__left__menu__logo {
          margin-right: 1.3rem; } }
    .navbar__left__logo__img {
      width: 75px; }
  .navbar__right {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 4rem;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1040px) {
      .navbar__right {
        margin-right: 1rem; } }
    @media (max-width: 768px) {
      .navbar__right {
        margin-right: 0; } }
    .navbar__right__list {
      font-size: 12px;
      line-height: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 12px 8px; }
      .navbar__right__list__link {
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.95); }
        .navbar__right__list__link:hover {
          color: #e90606; }
      .navbar__right__list--active {
        text-transform: uppercase;
        text-decoration: none;
        color: #e90606; }
      .navbar__right__list__mag {
        margin-top: 16px;
        width: 50px; }
      .navbar__right__list__search {
        width: 20px;
        margin: 10px 0 0 10px; }

.main-container {
  width: 50%;
  max-width: 850px;
  margin: 90px auto;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 1040px) {
    .main-container {
      width: 80%; } }
  @media (max-width: 768px) {
    .main-container {
      width: 90%; } }
  @media (max-width: 480px) {
    .main-container {
      margin: 77px auto; } }

.title__list-link {
  display: flex;
  list-style: none;
  margin-bottom: 2.2rem;
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 480px) {
    .title__list-link {
      margin-bottom: 1rem; } }
  .title__list-link__items {
    display: flex;
    align-items: center; }
  .title__list-link__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #005e75;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .title__list-link__text:hover {
      text-decoration: underline; }
    @media (max-width: 480px) {
      .title__list-link__text {
        font-size: 12px; } }
  .title__list-link__chevron {
    width: 16px;
    height: 60%; }

.title__header {
  font-family: "Playfair Display",sans-serif; }
  .title__header__heading {
    font-size: 52px;
    line-height: 56px;
    font-weight: 700;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .title__header__heading {
        font-size: 38px;
        line-height: 45px; } }
    @media (max-width: 480px) {
      .title__header__heading {
        font-size: 32px;
        line-height: 35px; } }
  .title__header__paragraph {
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 480px) {
      .title__header__paragraph {
        font-size: 14px;
        line-height: 20px; } }

.title__author {
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: 1rem 0; }
  .title__author__name {
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.95);
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 480px) {
      .title__author__name {
        font-size: 12px; } }

.main-content__paragraph {
  font-family: "PT Serif",sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: .5px;
  line-height: 28px;
  margin-top: 1.8rem;
  color: rgba(0, 0, 0, 0.95); }

.main-content .author-email {
  color: #e90606; }

.footer {
  display: flex;
  padding: 38px;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.95);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .footer__heading-logo {
    display: inline-flex;
    flex: 0 0 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 2rem; }
    .footer__heading-logo__img {
      width: 170px;
      height: 100%;
      margin: 0 auto;
      /* Custom, iPhone Retina */
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */
      /* Custom, iPhone Retina */
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 768px) {
        .footer__heading-logo__img {
          margin-left: 12rem; } }
      @media (max-width: 480px) {
        .footer__heading-logo__img {
          margin-left: 3rem; } }
  .footer__heading {
    font-family: "Playfair Display",sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px; }
  .footer__left-container {
    flex: 0 0 340px;
    padding-bottom: 5rem;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    .footer__left-container__img {
      margin-top: 1rem;
      width: 280px; }
    @media (max-width: 768px) {
      .footer__left-container {
        flex: 0 0 100%; } }
  .footer__middle-container {
    height: 340px;
    flex: 0 0 350px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1040px) {
      .footer__middle-container {
        flex: 0 0 300px; } }
    @media (max-width: 768px) {
      .footer__middle-container {
        flex: 0 0 250px;
        border-left: none; } }
    @media (max-width: 480px) {
      .footer__middle-container {
        height: 310px;
        border-right: none; } }
    .footer__middle-container-list {
      font-family: "Roboto",sans-serif;
      font-size: 15px;
      line-height: 20px;
      list-style: none; }
    .footer__middle-container__item {
      margin-top: 8px;
      padding-top: 12px; }
    .footer__middle-container__link {
      text-decoration: none;
      color: #005e75; }
      .footer__middle-container__link:hover {
        text-decoration: underline; }
  .footer__right-container {
    flex: 0 0 300px;
    /* Custom, iPhone Retina */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__right-container {
        flex: 0 0 250px;
        border-left: none; } }
    .footer__right-container__paragraph {
      font-family: "Roboto",sans-serif;
      font-size: 15px;
      line-height: 20px;
      margin: 1rem; }
    .footer__right-container__social {
      width: 150px;
      margin-bottom: 3rem;
      margin-top: 10px; }
  .footer__legal {
    margin-top: 3rem; }
    .footer__legal__btn {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 11px 32px;
      display: inline-block;
      text-align: center;
      border-width: 0;
      border-radius: 0;
      border: 3px solid #00afdb;
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.95);
      background: #fff;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 36px; }
    .footer__legal__list {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto',sans-serif;
      font-size: 15px;
      line-height: 16px;
      width: 70%;
      color: rgba(0, 0, 0, 0.65);
      /* Custom, iPhone Retina */
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 768px) {
        .footer__legal__list {
          flex-direction: column;
          width: 90%; } }
      .footer__legal__list__items {
        display: flex; }
        .footer__legal__list__items__logo {
          height: 60%;
          width: 100px; }
        .footer__legal__list__items__text {
          display: block;
          text-align: left;
          margin-left: 1rem;
          /* Custom, iPhone Retina */
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */ }
          @media (max-width: 768px) {
            .footer__legal__list__items__text {
              margin-top: 1rem; } }
