.main-container{
    width: 50%;
    max-width: 850px;
    margin: 90px auto;
    // MEDIA QUERIES
    @include respond(tab-port) {
        width: 80%;
    } 
    @include respond(phone){
        width: 90%;
    }
    @include respond(small-phone) {
        width: 95%;
        margin: 77px auto;
    } 
}

// HEADING
.header{
    &__links{ 
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        
        // MEDIA QUERIES
        @include respond(small-phone) {
            margin-bottom: 1rem;
        } 
        &__list{   
            font-family: "Roboto Condensed",sans-serif;
            margin: 0 12px;
            color: #e90606;
            font-size: 15px;
            &:first-child {
                list-style: none;
            }
            &__text{
                font-size: 13px;
                line-height: 16px;
                font-weight: 700;
                letter-spacing: .5px;
                text-decoration: none;
                text-transform: uppercase;
                color: #e90606;
                // MEDIA QUERIES
                @include respond(small-phone) {
                    font-size: 12px;
                }     
            }
   
        }
    }
    //  MAIN TITLE      
        &__heading{
            font-family:"Lora",sans-serif;
            font-size: 39px;
            line-height: 47px;
            font-weight: 700;
            text-align: center;
            // MEDIA QUERIES
            @include respond(phone) {
                font-size: 38px;
                line-height: 45px;
            }
            @include respond(small-phone) {
                font-size: 25px;
                line-height: 32px;
            } 
        }
        &__figure{
            &__img{
                width: 100%;
            }
        }
        // SOCIAL MEDIA ICON
        &__social-media{
            margin: 1rem 0;
            &__icons{
                display: block;
                margin: 0 auto;
                width: 125px;
            }
        }
        // TITLE PARAGRAPH
        &__paragraph{
            font-size: 15px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.65);
            // MEDIA QUERIES
            @include respond(small-phone) {
                font-size: 14px;
                line-height: 20px;
            } 
        }
}

// MAIN CONTENT 
.main-content{
    &__author{
        font-family: "PT Serif", sans-serif;
        font-size: 13px;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        &__name{
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0 5px;
            color:#e90606;
        }
        &__twitter{
            width: 20px;
            height: 17px;
        }
    }
    // MAIN  PARAGRAPHS
    &__paragraph{
        font-family: "PT Serif",sans-serif;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: .5px;
        line-height: 28px;
        margin-top: 1.8rem;
        color: $color-primary;
    }

    .author-email{
        color: #e90606;
    }
}