.footer{
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin: 2rem auto;
    border-top: 1px solid #D7D7D9;
    
    // LOGO AND SOCIAL MEDIA
    .figure {
        margin: 0 auto;
        &__logo{
            display: block;
            margin: 2rem auto;
            width: 110px;
        }
        &__social{
            width: 170px;
            margin-bottom: 2rem;
        }
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem 0;
        border-top: 1px solid #D7D7D9;
        border-bottom: 1px solid #D7D7D9;
    }
    // FIRST COL
    &__first-col{
        margin-left: 2rem;
         // MEDIA QUERIES
          @include respond(small-phone){
           margin-left: 10px;
           flex: 0 0 45%;
          }
        &__items{
            list-style: none;
            padding: 5px 0;
   
            &__link{
                font-size: 16.5px;
                line-height: 12px;
                text-decoration: none;
                letter-spacing: .5px;
                color:#686c73;
                &:hover{
                    color: rgba(0, 0, 0, 0.95);
                }
            }
        } 
    }
    // SECOND COL
    &__second-col{
        // MEDIA QUERIES
        @include respond(small-phone){
            margin-bottom: 2rem;
            flex: 0 0 45%;

        }
        &__items{
            list-style: none;
            padding: 5px 0;
            &__link{
                font-size: 16.5px;
                line-height: 12px;
                text-decoration: none;
                letter-spacing: .5px;
                color:#686c73;
                &:hover{
                    color: rgba(0, 0, 0, 0.95);
                }
            }
        }
    }
    // THIRD COL
    &__third-col{
        // MEDIA QUERIES
        @include respond(small-phone){
            margin-bottom: 2rem;
            margin-left: 10px;
            flex: 0 0 45%;

        }
        &__items{
            list-style: none;
            padding: 5px 0;
                 // MEDIA QUERIES
                 @include respond(small-phone){
                    //  margin-left: 10px;
                    // margin-right: 32px;
                }
            &__link{
                font-size: 16.5px;
                line-height: 12px;
                text-decoration: none;
                letter-spacing: .5px;
                color:#686c73;
                &:hover{
                    color: rgba(0, 0, 0, 0.95);
                }
            }
        }
    }

    // FOURTH COL
    &__fourth-col{
        margin-right: 2rem;
        // MEDIA QUERIES
        @include respond(phone){
            margin-right: 0;
            flex: 0 0 45%;
        }
        &__items{
            list-style: none;
            padding: 5px 0;
                 // MEDIA QUERIES
                 @include respond(small-phone){
                    // margin-right: 32px;
                }
            &__link{
                font-size: 16.5px;
                line-height: 12px;
                text-decoration: none;
                letter-spacing: .5px;
                color:#686c73;
                &:hover{
                    color: rgba(0, 0, 0, 0.95);
                }
            }
        }
    }

    // LEGAL TEXT
    .copyright{
        margin: 1rem auto;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: .5px;
        padding: 0 16px;
        color: #8b8d91;

    }
}