.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Roboto Condensed", sans-serif;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    color:$color-primary;
    box-shadow: 0 2px 5px 0 hsla(240, 3%, 85%, .7); 

    // NAVIGATION LEFT
    &__left{
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 7rem;
        // MEDIA QUERIES
        @include respond(tab-port) {
            margin-left: 3rem;
        } 
        @include respond(phone) {
            margin-left: 2rem;
        } 
        // MENU
        &__menu{
            &__logo{
                width: 25px;
                margin-right: .5rem;
                // MEDIA QUERIES
                @include respond(tab-port) {
                    margin-right: 1.3rem;
                } 
            }
        }
        // SITE LOGO
        &__logo{
            &__img{
                width: 75px;
            }
        }
    }
    
    //NAVIGATION RIGHT
    &__right{
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: 4rem;
        // MEDIA QUERIES
        @include respond(tab-port) {
            margin-right: 1rem;
        } 
        @include respond(phone) {
            margin-right: 0;
        }  
        // LINKS
        &__list{
            font-size: 12px;
                line-height: 24px;
                font-weight: 600;
                letter-spacing: 1px;
                padding: 12px 8px;
            &__link{
                text-transform: uppercase;
                text-decoration: none;
                color: rgba(0,0,0,.95);
                &:hover{
                 color: #e90606;
                }
            }
            &--active{
                text-transform: uppercase;
                text-decoration: none;
                color: #e90606;

            }
            // MAGAZINE ICON
            &__mag{
                margin-top: 16px;
                width: 50px;
            }
            // SEARCH ICON
            &__search{
                width: 20px;
                margin: 10px 0 0 10px;
            }
        }
    }
}